In [1]:
# IMPORT DEPENDENCIES
# Import dependencies
import numpy as np
import pandas as pd
import os

In [2]:
# READ IN FILE
df = pd.read_csv('Tables/free_text_df.csv')
df.head(10)

,Rank,OrgStudyId,WhyStopped,EnrollmentCount,PrimaryOutcomeMeasure,FlowDropWithdrawType
0,1.0,BTX-BCI-016-PRT,NaN,3000.0,To determine BCI test performance by evaluatin...,NaN
1,2.0,2018-TJ-BCD,NaN,2300.0,Diagnostic potential of SEMA4C as a biomarker ...,NaN
2,3.0,Breast cancer,NaN,80.0,Role of SORCIN in patients with breast cancer,NaN
3,4.0,BC-BOMET,NaN,30.0,SENP1 expression,NaN
4,5.0,241391,NaN,600.0,Performance of the Syantra DX Breast Cancer te...,NaN
5,6.0,IL-TM-B1-01,NaN,200.0,This study is intended to evaluate the sensiti...,NaN
6,7.0,FH-Risk 2.0 Research Protocol,NaN,271.0,To explore how much new risk models change bre...,NaN
7,8.0,ID-RPSBC-01-20201012,NaN,316.0,Absolute risk difference between breast cancer...,NaN
8,9.0,IRST174.22,NaN,60000.0,To compare the cumulative incidence of stage 2...,NaN
9,10.0,ANILERGİNN,NaN,300.0,breast cancer incidence after laparoscopic sle...,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10004 entries, 0 to 10003
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   5013 non-null   float64
 1   OrgStudyId             5013 non-null   object
 2   WhyStopped             320 non-null    object
 3   EnrollmentCount        5013 non-null   float64
 4   PrimaryOutcomeMeasure  5013 non-null   object
 5   FlowDropWithdrawType   70 non-null     object
dtypes: float64(2), object(4)
memory usage: 469.1+ KB

In [4]:
# Extract WhyStopped column and drop null values
df_text = pd.DataFrame(df['WhyStopped'])
df_text = df_text.dropna()
df_text

                                             WhyStopped
32                                   Pandemic situation
47    Technical problem with plasma blood samples ob...
50        study did not start and is currently on pause
54    Principal investigator left the study institut...
84    The study was stopped prematurely due to insuf...
...                                                 ...
4967  Technical problem with blood plasma samples ob...
4968  Evolving data with Ipatasertib that changes th...
4970  Study is part of PhD trajectory and currently ...
4981                                         no funding
4986            sponsor on campus training restrictions

[320 rows x 1 columns]

In [5]:
df_text.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 320 entries, 32 to 4986
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WhyStopped  320 non-null    object
dtypes: object(1)
memory usage: 5.0+ KB

In [6]:
df_text['word_count'] = df_text['WhyStopped'].apply(lambda x: len(str(x).split(" ")))
df_text.head(10)

                                            WhyStopped  word_count
32                                  Pandemic situation           2
47   Technical problem with plasma blood samples ob...          10
50       study did not start and is currently on pause           9
54   Principal investigator left the study institut...           6
84   The study was stopped prematurely due to insuf...           9
97                            No participants enrolled           3
105        PI no longer working at Indiana University;           7
112  Temporarily paused per study team for interim ...           9
131  Study classified as out of scope by the Ethics...          16
143  Enrollment into AWARE cohorts1-4 have conclude...          18

In [7]:
# AVERAGE WORD COUNT
df_text['word_count'].mean()

9.0625

In [8]:
# IMPORT STOPWORD LIBRARY
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [9]:
df_text['stop_words'] = df_text['WhyStopped'].apply(
    lambda x: len([x for x in x.split() if x in stop]))
df_text.head(10)

                                            WhyStopped  word_count  stop_words
32                                  Pandemic situation           2           0
47   Technical problem with plasma blood samples ob...          10           3
50       study did not start and is currently on pause           9           5
54   Principal investigator left the study institut...           6           1
84   The study was stopped prematurely due to insuf...           9           2
97                            No participants enrolled           3           0
105        PI no longer working at Indiana University;           7           2
112  Temporarily paused per study team for interim ...           9           1
131  Study classified as out of scope by the Ethics...          16           6
143  Enrollment into AWARE cohorts1-4 have conclude...          18           8

In [10]:
# AVERAGE STOPWORDS
df_text['stop_words'].mean()

2.95625

In [11]:
# LOWERCASE RESPONSES
df_text['WhyStopped'] = df_text['WhyStopped'].apply(
    lambda x: " ".join(x.lower() for x in x.split()))
df_text.head(10)

                                            WhyStopped  word_count  stop_words
32                                  pandemic situation           2           0
47   technical problem with plasma blood samples ob...          10           3
50       study did not start and is currently on pause           9           5
54   principal investigator left the study institut...           6           1
84   the study was stopped prematurely due to insuf...           9           2
97                            no participants enrolled           3           0
105        pi no longer working at indiana university;           7           2
112  temporarily paused per study team for interim ...           9           1
131  study classified as out of scope by the ethics...          16           6
143  enrollment into aware cohorts1-4 have conclude...          18           8

In [12]:
# REMOVING PUNCTUATION
df_text['WhyStopped'] = df_text['WhyStopped'].str.replace('[^\w\s]','')
df_text.head(10)

/Users/alejandra/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

                                            WhyStopped  word_count  stop_words
32                                  pandemic situation           2           0
47   technical problem with plasma blood samples ob...          10           3
50       study did not start and is currently on pause           9           5
54   principal investigator left the study institution           6           1
84   the study was stopped prematurely due to insuf...           9           2
97                            no participants enrolled           3           0
105         pi no longer working at indiana university           7           2
112  temporarily paused per study team for interim ...           9           1
131  study classified as out of scope by the ethics...          16           6
143  enrollment into aware cohorts14 have concluded...          18           8

In [13]:
# REMOVE STPWORDS
df_text['filtered_responses'] = df_text['WhyStopped'].apply(
    lambda x: " ".join(x for x in x.split() if x not in stop))
df_text.head(10)

,WhyStopped,word_count,stop_words,filtered_responses
32,pandemic situation,2,0,pandemic situation
47,technical problem with plasma blood samples ob...,10,3,technical problem plasma blood samples obtaine...
50,study did not start and is currently on pause,9,5,study start currently pause
54,principal investigator left the study institution,6,1,principal investigator left study institution
84,the study was stopped prematurely due to insuf...,9,2,study stopped prematurely due insufficient rec...
97,no participants enrolled,3,0,participants enrolled
105,pi no longer working at indiana university,7,2,pi longer working indiana university
112,temporarily paused per study team for interim ...,9,1,temporarily paused per study team interim data...
131,study classified as out of scope by the ethics...,16,6,study classified scope ethics committee projec...
143,enrollment into aware cohorts14 have concluded...,18,8,enrollment aware cohorts14 concluded primary o...

In [15]:
# WORD FREQUENCY
freq = pd.Series(' '.join(df_text['filtered_responses']).split()).value_counts()[:30]
freq

study           112
due              76
decision         35
sponsor          30
funding          27
accrual          25
enrollment       25
recruitment      24
covid19          23
terminated       22
safety           21
patients         20
trial            19
slow             18
data             16
low              16
pi               16
lack             15
enrolled         15
pandemic         14
development      13
business         13
based            12
decided          11
institution      11
investigator     11
new              10
strategic        10
withdrawn        10
change           10
dtype: int64

In [31]:
rate_freq = df_text.loc[df_text['WhyStopped'].str.contains("rate", case=False)]
rate_freq.sample(20)

,WhyStopped,word_count,stop_words,filtered_responses
4530,the decision to stop enrollment was due to str...,24,10,decision stop enrollment due strategic conside...
8455,30day mortality rate 30day complication rate,6,0,30day mortality rate 30day complication rate
9837,safety and tolerability of flx475 as a single ...,45,18,safety tolerability flx475 single agent combin...
9426,number of participants with treatment emergent...,30,5,number participants treatment emergent adverse...
8813,estimate the rates of severe skin toxicities g...,21,7,estimate rates severe skin toxicities grade 2 ...
6635,objective response rate orr,4,0,objective response rate orr
6988,clinical benefit rate,3,0,clinical benefit rate
7153,determine the tumor take rate in pdx,7,2,determine tumor take rate pdx
7383,total pathological complete response rate tpcr,6,0,total pathological complete response rate tpcr
9684,measure enrollment of probands and atrisk rela...,24,8,measure enrollment probands atrisk relatives 6...
8681,comparing local recurrence rates between patie...,18,2,comparing local recurrence rates patients rece...
9832,variant allele frequencies vaf for variants id...,80,17,variant allele frequencies vaf variants identi...
8600,to measure physical function using clinician r...,93,10,measure physical function using clinician repo...
8998,rate of adverse events rate of laboratory abno...,14,3,rate adverse events rate laboratory abnormalit...
7193,to characterize the tumour cells and their mic...,110,36,characterize tumour cells microenvironment liv...
7178,assess safety and tolerability of pyrotinib pl...,22,3,assess safety tolerability pyrotinib plus cape...
7049,global complicationss rates in 2 groups percen...,7,1,global complicationss rates 2 groups percentage
6192,potential difference in persistence rate after...,15,5,potential difference persistence rate 24 weeks...
9495,safety of combined mrd plus rt will be assesse...,34,10,safety combined mrd plus rt assessed measuring...
9674,recall rates of personal genomic results,6,1,recall rates personal genomic results

In [36]:
df_text['WhyStopped'].tail(30)

9983     confirmed objective response rate by recist 11...
9984     level of decisional conflict level of decision...
9985     cancerrelated fatigue severity as assessed usi...
9986             detection rate of sentinel node technique
9987     risk of reporting cancer overall specific canc...
9988     time until adverse liver outcome assessed by i...
9989     the feasibility of hpv testing as a single vis...
9990                                genomics outcome scale
9991     fatigue severity impact of fatigue state of fa...
9992     the role of vitamin d in response to neoadjuva...
9993     rate of men diagnosed with pc and aggressive p...
9994                 doubling of progression free survival
9995                           objective response rate orr
9996     icg transit time detected by the smartgoggles ...
9997     number of participants with grade 2 radiation ...
9998                 the number of circulating tumor cells
9999     to evaluate the impact of visceral adipose tis...
10000    feasibility defined by percent randomized numb...
10001           number of patients with complete data safe
10002    the psychosocial factors predictive of uptake ...
10003                                  overall survival os
10004         occult cancer missed by screening strategies
10005    the role of magnetic resonance imaging mri in ...
10006    objective response or durable clinical benefit...
10007      change in mdasi scores incidents of dehydration
10008    the primary outcome of the study will be durat...
10009                                     overall survival
10010                                    psa response rate
10011                          3year local recurrence rate
10012    initially targeted drug therapy risks in patie...
Name: WhyStopped, dtype: object